:root {
  --font-family-primary: 'Oswald', sans-serif;

  // line heights
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-l: 36px;

  // font sizes
  --font-size-xs: 0.75rem; //12px -not used
  --font-size-s: 0.875rem; //14px
  --font-size-m: 1rem; //16px -not used
  --font-size-l: 1.125rem; //18px
  --font-size-xl: 2rem; //32px
  --font-size-xxl: 2.375rem; //38px
  --font-size-xxxl: 3.5rem; //56px

  // font weights
  --font-weight-thin: 200;
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 500;
}
